@keyframes highlight{
  0%{
    background: rgba(#333, 0.55);
  }
  100%{
    background: #fb7299;
  }
}
.popup-item {
  display: flex;
  flex-direction: row;
  background: rgba(#333, 0.55);
  box-shadow: 1px 1px 5px rgba(#333, 0.3);
  transform: translateX(0);
  opacity: 1;
  max-height: 100%;
  transition-property: transform opacity max-height padding margin;
  transition-timing-function: ease-out;
  &.collapsed{
    transform: translateX(100px);
    opacity: 0;
    max-height: 0;
    padding:0;
    margin:0;
  }
  &.new{
    animation: highlight alternate infinite ease-out;
  }
  .icon-wrap {
    .icon-border {
      box-sizing: border-box;
      background-position: center center;
      background-size: cover;
      border-radius: 100%;
      overflow: hidden;
      box-shadow:1px 1px 5px rgba(#000, 0.5);
    }
  }
  .content-wrap {
    align-self: flex-start;
    align-items: flex-start;
    position: relative;
    &>*{
      padding: 0;
    }
    .time{
      position: absolute;
      font-style: italic;
      color: #ddd;
    }
    .sender {
      color: #fb7299;
      margin-bottom: 0;
    }
    .comments {
      margin-top:0;
    }
  }
}
