@import "../index.scss";

.uicomp.toggle-button {
  ul.toggle-button-list,
  li.toggle-button-item {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul.toggle-button-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(#333, 0.2);
    border-radius: 5px;
    overflow: hidden;
  }
  li.toggle-button-item {
    @extend .clickable-button;
  }
}
